/* General */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.containerFormulario {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  color: #a83232;
  text-align: center;
  margin-bottom: 20px;
}

/* Formulario */
.form-container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input {
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #b33f3f;
  box-shadow: 0 0 4px rgba(179, 63, 63, 0.4);
}

/* Botón */
button {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #b33f3f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #922e2e;
  transform: scale(1.02);
}

/* Diseño Responsivo */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  .form-container {
    padding: 20px;
  }

  input,
  .btn-submit {
    font-size: 0.9rem;
  }
}